a {
  text-decoration: none;
}

nav {
  background-color: rgb(19, 19, 180);
  padding: 10px;
}

nav ul li {
  list-style: none;

}

nav ul li a {
  color: white;
  font-size: 1.5rem;
}

.container {
  text-align: center;
}

.container>* {
  margin: 1.2rem;
}

#searchUser {
  padding: 1.2rem;
  border-radius: 0.5rem;
}

/* card */
.card {
  display: flex;
  justify-content: space-evenly;
}

.card__image img {
  width: 100%;
}

footer {
  margin: 5px;
  padding: 3px;
  text-align: center;

}

.alert {
  background-color: coral;
  padding: 20px 40px;
  min-width: 420px;
  border-radius: 4px;
  border-left: 4px solid rgb(122, 44, 15);

  font-size: 2rem;
}